{% extends "base.html" %}

{% block title %}About &mdash; WSDC Points{% endblock %}

{% block content %}
<h1>About</h1>

<p>
  WSDC Points is a site to help the West Coast Swing dance community to
  better see how competitions and dancers progress around the world. If there
  are any new things here that you would like to see, or problems you would like
  to have fixed, please reach out!
</p>

<p>
  <a href="mailto:wsdcpoints@mechstack.dev">wsdcpoints&#64;mechstack.dev</a>
</p>
<p>
  <a target="_blank" rel="noopener" href="https://mechstack.dev/">Powered by <b>Mechstack.dev</b></a>
</p>
{% endblock %}
